@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
	box-sizing: border-box;
	background-color: white;
	color: rgba(255, 255, 255, 0.726);
	font-weight: bold;
	font-size: 19px;
}

body {
	margin-right: 0px;
}

body {
	/* display: flex; */
	/* flex-direction: column; */
	/* justify-content: center;*/
	align-items: center; 
	/* padding: 30px 0; */
	min-height: 100vh;
	margin-top: 100px;
}

button {
	background-color: rgb(38, 64, 212);
	border: none;
	border-radius: 10%;
	width: 100px;
	height: 30px;
	color: white;
	font-size: 20px;
}

img {
	width: 100%;
}

p {
	margin-bottom: 5px;
	
}

h1 {
	margin: 0;
	/* margin-top: 100px; */
	font-size: 30px;
	color: black;
}

h5 {
	margin: 10px 0;
	color: black;
}

#random-meal-h5 {
	font-size: 25px;
	color: black;
}

li {
	margin-bottom: 0;
}

.meal {
	margin: 20px 0;
}

.text-center {
	text-align: center;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 25px;
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
}

.videoWrapper iframe {
	position: absolute;
	width: 100%;
	height: 100%;
}

.inner-html {
	display:flex; 
	margin-left: 10%; 
	margin-right: 10%;
}

/* Media Queries */


@media screen and (max-width: 500px) {
	html, body {
		max-width: 400px;
		max-height: 500px;
	}

	.container {
		width: 300px;
		padding-left: 20px;
	}

	.inner-html {
		margin-left: 0%; 
		margin-right: 0%;
		display: inline-block;
		margin-bottom: 20px;
	}

	.food-name-image {
		height: 300px;
	}

	img {
		width: 300px;
	}

	.ingredients-div {
		margin-left: -500px;
		margin-top: 100px;
		display: none;
		font-size: 11px;
	}

	.ingredients-div ul li {
		font-size: 10px;
	}

	.videoWrapper {
		width: 300px;
		height: 300px;
	}

	.video-wrapper-div {
		margin-top: 150px;
	}

	.video-wrapper-div  h5 {
		display: none;
	}

	.text-center {
		width: 300px;
		margin-left: 0px;
		margin-right: 0px;
	}

	.text-center h1 {
		font-size: 19px;
	}

	h4 {
		direction: ltr;
		width: 300px;
	}

	.video-wrapper-div iframe {

	}

	.video-wrapper-div {
		width: 300px;
		height: 300px;
		margin-top: 20px;
	}

	.videoWrapper {
		margin-left: 0px;
		padding-top: 0px;
	}

}

@media only screen and (min-width: 1920px) {
	.container {
		margin-left: 0px;
	}

	.inner-html {
		margin-left: 34%;
		margin-right: 0;
		width: 764.8px;
		justify-content: space-between;
		
	}

	.video-wrapper-div h5 {
		margin-left: -655px;
	}

	.video-wrapper-div {
		width: 50%;
		margin-left: 29%;
	}

	.video-wrapper-div iframe {

	}
}

@media only screen and (min-width: 800px) and (min-height: ) {

}