@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
	box-sizing: border-box;
	background-color: white;
	color: rgba(255, 255, 255, 0.726);
	font-weight: bold;
	font-size: 19px;
}

body {
	width: 944px; 
	height: 1301px;
	margin-right: 0px;
}

body {
	/* display: flex; */
	/* flex-direction: column; */
	/* justify-content: center;*/
	align-items: center; 
	/* padding: 30px 0; */
	min-height: 100vh;
	margin-top: 100px;
}

button {
	background-color: rgb(38, 64, 212);
	border: none;
	border-radius: 10%;
	width: 100px;
	height: 30px;
	color: white;
	font-size: 20px;
}

img {
	width: 100%;
}

p {
	margin-bottom: 5px;
	
}

h1 {
	margin: 0;
	/* margin-top: 100px; */
	font-size: 30px;
	color: black;
}

h5 {
	margin: 10px 0;
	color: black;
}

#random-meal-h5 {
	font-size: 25px;
	color: black;
}

li {
	margin-bottom: 0;
}

.meal {
	margin: 20px 0;
}

.text-center {
	text-align: center;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 25px;
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
}

.videoWrapper iframe {
	position: absolute;
	width: 100%;
	height: 100%;
}


/* @media screen and (max-width: 480px) {

	.social-panel-container.visible {
		transform: translateX(0px);
	}
	
	.floating-btn {
		right: 10px;
	}
} */